.doubleEighthNote {
  animation: grow 5s infinite;
  animation-timing-function: ease-in-out;
  z-index: 0;
}

.quarterNote {
  animation: grow 4s infinite;
  animation-timing-function: ease-in-out;
  z-index: 0;
}

@keyframes grow {
  0% { /* start of animation */
    transform: scale(.8);
  }
  50% { /* peak of growth */
    transform: scale(1.1);
  }
  100% { /* end of animation */
    transform: scale(.8);
  }
}

.quarterNote:before, .doubleEighthNote:before {
  content: '';
  position: absolute;
  top: 0; right: 0;
  z-index:-1;

  background-image: radial-gradient(circle, #b4cfcc 10%, transparent 40%); /* unmoving glow */
  /* to create a glowing illusion, the element with a radial background will change its size */
  animation-timing-function: ease-in-out;
}

.quarterNote:before {
  animation: glow 4s infinite;
}

.doubleEighthNote:before {
  animation: glow8 5s infinite;
}

/* one animation cycle of shrinking and growing an element with a radial background */
@keyframes glow {
  0% { /* start of animation */
    width: 10%;
    height: 10%;
    top: 50%; right: 50%;
  }
  50% { /* peak of glow */
    width: 100%;
    height: 100%;
    top: 0; right: 0;
  }
  100% { /* end of animation */
    width: 10%;
    height: 10%;
    top: 50%; right: 50%;
  }
}

@keyframes glow8 {
  0% {
    width: 0%;
    height: 0%;
    top: 75%;
    right: 25%;
  }
  50% {
    width: 150%;
    height: 150%;
    top: 0;
    right: -20%;
  }
  100% {
    width: 0%;
    height: 0%;
    top: 75%;
    right: 25%;
  }
}
